server:
  port: 8888

spring:
  datasource:
    test2:
      driver-class-name: com.mysql.cj.jdbc.Driver
      jdbc-url: jdbc:mysql://127.0.0.1:3306/test2?useUnicode=true&characterEncoding=utf-8&serverTimezone=UTC
      username: root
      password: 123456
    test:
      driver-class-name: com.mysql.cj.jdbc.Driver
      jdbc-url: jdbc:mysql://127.0.0.1:3306/test?useUnicode=true&characterEncoding=utf-8&serverTimezone=UTC
      username: root
      password: 123456
    allow-pool-suspension: true
    minimum-idle: 2
    maximum-pool-size: 5
    auto-commit: true
    idle-timeout: 30000
    pool-name: DatebookHikariCP
    max-lifetime: 1800000
    connection-timeout: 30000
    connection-test-query: SELECT 1

  http:
    encoding:
      charset: UTF-8
      force: true
      enabled: true

# 配置 mybatis-plus 信息
mybatis-plus:
  type-aliases-package: com.example.demo.bean
  mapper-locations: classpath*:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true